
body {
	background-image: url("img/home_background.jpg");
}

.container {
    font-family: 'Archivo Narrow', sans-serif;	
    position: absolute;
	top: 60px;
	left: 610px;
    background-color: #f3f3f3;
	position: absolute;
	width: 780px;
	height: 750px;
	border-radius: 19px;
	opacity: 0.9;
}

.button {
	text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
	width: 40%;
	position: relative;
	left: 70px;
	text-align:center;
	padding: 15px;
	background-color: #fc9e3c;
	border-radius: 1px;
    cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.input {
	font-family: 'Abhaya Libre', sans-serif;
	position: relative;
	left:8px;
	text-align:left;
	font-size:19px;
	padding: 8px 13px 18px 8px;
	width: 100%;
	border: 1px solid #f3f3f3;
	border-radius: 3px;
	outline-style:none;
}

.input:hover {
	border: 2px solid #f3f3f3;
}

.area {
	font-family: 'Abhaya Libre', sans-serif;
	position: relative;
	left:8px;
	font-size:19px;
	padding: 8px 6px 5px 8px;
	width: 100%;
	border: 1px solid #d1c9c9;
	border-radius: 3px;
	outline-style:none;
}

.area:hover {
	border: 2px solid #f3f3f3;
}

.inputContainer {
	border-radius: 4px;
	display: inline-block;
	
}

.file {
	font-family: 'Abhaya Libre', sans-serif;
	background-color: #f3f3f3;
	border: 1px solid #D2B48C;
	border-radius: 3px;
	opacity:0.8;
	
}

.file:hover {
  background-color: #d2cac2;
  border: 2px solid #d2cac2;
	
}

::placeholder {
	opacity: 0.4;
}