
body {
   background-image: url("img/home_background.jpg");
}

.tw {
	
position: absolute;
top:620px;
left: 160px;
font-size: 25px;
text-align: center;
font-family: 'Alegreya Sans SC', sans-serif;
color: white;
width: 450px;
min-height: 120px;
background-color: #1f2122;
opacity: 0.8;
border-radius:12px;
	
}

.textbox0 {
	
position: absolute;
top:200px;
left: 100px;
	
font-size: 20px;
font-family: 'Alegreya Sans SC', sans-serif;
color: white;
width: 1600px;
min-height: 100px;
background-color: #1f2122;
opacity: 0.8;
border-radius:16px;
	
}

/* Zamówienia */
.textbox1 {
	
position: absolute;
top:330px;
left: 100px;
font-size: 20px;
font-family: 'Alegreya Sans SC', sans-serif;
color: white;
width: 700px;
min-height: 260px;
background-color: #1f2122;
opacity: 0.8;
border-radius:16px;
	
}

/* Narzedziownia */
.textbox2 {
	
position: absolute;
top:320px;
left: 1000px;
font-family: 'Alegreya Sans SC', sans-serif;	
font-size: 20px;
color: white;
width: 700px;
min-height: 180px;
background-color: #1f2122;
opacity: 0.8;
border-radius:16px;
	
}

.textbox3 {
	
position: absolute;
top:520px;
left: 1000px;
font-family: 'Alegreya Sans SC', sans-serif;	
font-size: 20px;
color: white;
width: 700px;
min-height: 180px;
background-color: #1f2122;
opacity: 0.8;
border-radius:16px;
	
}

/* 4. Zarządzanie projektami: */
.textbox4 {
	
position: absolute;
top:720px;
left: 1000px;
font-size: 20px;
font-family: 'Alegreya Sans SC', sans-serif;
color: white;
width: 700px;
min-height: 180px;
background-color: #1f2122;
opacity: 0.8;
border-radius:16px;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;	
	background-color: #333;
	
	/*Sticky Navbar*/
	position: sticky;
	top: 0;
}


li {
float: left;
opacity: 0.8;
border-right: 1px solid white;
}

li a{
font-size: 16px;
color: white;
display: inline;
display: block;
padding: 50px 60px;
}

li a:hover:not(.active){
	background-color: #111;
}

.active {
	background-color: #db2c2c;
}


/* Navigation Bar */

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  color:black;
  background-color: #f1f1f1;
}