body  {
  background-image: url("img/materialOrder_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

img {
    width: 100%;
    height: auto;
}

.container_2 {
    max-width: 1440px;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
	background: rgba(255, 255, 255, .8);
}

aside {
    width: 40%;
    padding: 20px;
    background: rgba(201, 169, 6, .2);
    border-left: 5px solid silver;
}



.widget {
    margin-bottom: 40px;
}

    .widget img {
        float: left;
        margin: 0 12px 5px 0;
    }

    .widget ul {
        list-style-type: square;
        padding: 0 0 0 18px;
        margin: 0;
    }

    .widget li {
        margin-bottom: 15px;
    }



table {
  width: 60%;
  border-collapse: collapse;
  margin: 30px auto;
}

table.center {
  margin-left: 100px; 
  margin-right: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
	border-bottom: 2px solid black;
}

#materials {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 55%;
}

#materials td, #materials th {
  border: 2px solid #af7162;
  padding: 8px;
}

#materials tr:nth-child(even){background-color: #f2f2f2;}
#materials tr:nth-child(odd){background-color: #ffffff;}

#materials tr:hover {background-color: #ddd;}

#materials th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #023c52;
  color: white;
}

main {
    display: flex;
    justify-content: space-between;
}