
body {
   background-image: url("img/home_background.jpg");
}


.container {	
	position:absolute;	
	top: 280px;
	left:700px;
}

.button {
	left:30%;
	background-color: #a2c285;
	width:100%;
    padding: 30px 50px 30px 50px;
	text-decoration: none;
	color: white;
	border:;
	border-radius: 2px;
	border-color: #a2c285; 
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.h {
	color: white;
	text-decoration: none;
	font-family: 'Century Gothic';
	text-align:center;
	font-size:15px;
	
}

.t {
	font-size: 50px;
	color:white;
	text-shadow: 0px 0px;
}