<!DOCTYPE html>
<html xmlns:th="http:/thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<a th:href="@{/}">Home</a>
<a th:href="@{/order/menu}">Order Menu</a>

<form th:method="post" th:action="@{/order/add/pipe}" th:object="${SteelPipe}">

<p>Choose material provider</p>
<select th:name="select">
<option>None</option>
<option th:each="p: ${providers}" th:object="${p}" th:text="*{companyName}" th:value="*{companyName}"></option>
</select>

<br></br>

<h2>Add a new offer for the service provider </h2>
<p>Profil rury</p>
<input th:type="text" th:field="*{profile}" placeholder="profile"></input>
<br></br>
<p>Gatunek stali</p>
<input th:type="text" th:field="*{steelGrade}" placeholder="steel grade"></input>
<br></br>
<p>Średnica zewnętrzna</p>
<input th:type="text" th:field="*{outerDiameter}" placeholder="outer diameter"></input>
<br></br>
<p>Grubość ścianki</p>
<input th:type="text" th:field="*{thicknessOfTheWall}" placeholder="thickness of the wall"></input>
<br></br>
<button type="reset">Clear</button>
<button type="submit">Add a steel pipe offer</button>

</form>

</body>
</html>