<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="../static/css/contactSuccessful_szablon.css" th:href="@{/css/contactSuccessful_szablon.css}"  rel="stylesheet" />
<title>Successful</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style=" background-color: #F5F5F5;">

<div class="container">
<img class="image" src="../img/icon.png" alt="Tu powinna być ikona"/>
<br></br>
<h2 style="text-align:center; font-size:40px">Message was send Successful</h2>
<p  style="text-align:center; font-size:20px">Wiadomość zostanie rozpatrzona, skonatkujemy sie z tobą przez podany adres email</p>
<button class="button"><a th:href="@{/}" class="a">Home</a></button>
</div>



</body>
</html>