<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>menu</title>
	<link rel="stylesheet" th:href="@{../css/orderMenu_style.css}" type="text/css" />
</head>

<h1>Zarządzaj materiałami i zamawiaj</h1>

<br />
<br />
<br />
     
<a class="btn" th:href="@{/}">Home</a>
<a class="btn" th:href="@{/order/new}">Stwórz i wyślij zamówienie</a>
<a class="btn" th:href="@{/order/check}">Sprawdz listę zamówień</a>
<a class="btn" th:href="@{/order/warehouse}">Magazyn materiałów</a>
<br />
<br />
<br />
<br />
<br />
<br />
<a class="btn" th:href="@{/provider/manage}">Zarządzaj dostawcami materiałów</a>
<a class="btn" th:href="@{/order/menu/providerproducts}">Zarządzaj produktami dostawców</a>

