<html>
<head xmlns:th="http://thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link href="../css/successful_szablon.css" th:href="@{/css/successful_szablon.css}"  rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Successful</title>
</head>

<body>

<div class="container">
<h1 class="t">Udało się utworzuć konto !</h1>
<button class="button" style="vertical-align:middle"><span><a  style="text-decoration: none;" class="h" th:href="@{/}"><i class="fa fa-home"></i>Wróć do strony głównej</a></span></button>
</div>

</body>
</html>