<html>
<head xmlns:th="http://thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link href="../static/css/successful_szablon.css" th:href="@{/css/successful_szablon.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Successful</title>

</head>
<body style="background-color: #c8eaf8;">

<div class="container">
<h1 class="t">Registration Success</h1>
<p style="font-size: 20px; opacity:0.5;">W systemie zostało utworzone nowe konto</p>
<div>
<button class="button" style="vertical-align:middle"><span><a class="h" th:href="@{/}"><i class="fa fa-home"></i>Wróć do strony głównej</a></span></button>
</div>
</div>

</body>
</html>